<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>00-帮助文档的使用(!!!).md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.645823</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>01-数据库概述.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582402</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>02-数据库基本操作.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582503</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>03-01-MySQL数据库存储引擎.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582503</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>03-02-MySQL数据类型.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582598</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>04-01-表的操作.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.645827</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>04-02-操作表的约束.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582801</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>05-01-索引介绍.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582801</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>05-02-索引的操作.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582801</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>06-视图.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582902</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>07-触发器.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582902</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>08-数据的操作.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582998</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>09-01-单表查询(基础查询).md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582998</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>09-02-单表查询(分组与统计).md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582998</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>10-01-多表查询(连接查询).md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64583099</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>10-02-多表查询(子查询).md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64583498</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>11-使用MySQL运算符.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.645836</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>12-MySQL常用函数.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.645836</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>13-01-存储过程和函数的操作(上).md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.645836</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>13-02-存储过程和函数的操作(下).md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64583701</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>14-MySQL安全机制.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64583701</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>15-MySQL日志管理.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64582598</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>16-01-MySQL数据库维护和性能优化(上).md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64583802</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>16-02-MySQL数据库维护和性能优化(下).md</key>
			<dict>
				<key>lastModification</key>
				<real>504847807.64583802</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504847816.19202501</real>
				<key>lastModification</key>
				<real>504847816.19202501</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>00-帮助文档的使用(!!!).md</string>
		</array>
		<array>
			<string>01-数据库概述.md</string>
		</array>
		<array>
			<string>02-数据库基本操作.md</string>
		</array>
		<array>
			<string>03-01-MySQL数据库存储引擎.md</string>
		</array>
		<array>
			<string>03-02-MySQL数据类型.md</string>
		</array>
		<array>
			<string>15-MySQL日志管理.md</string>
		</array>
		<array>
			<string>04-01-表的操作.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>04-02-操作表的约束.md</string>
		</array>
		<array>
			<string>05-01-索引介绍.md</string>
		</array>
		<array>
			<string>05-02-索引的操作.md</string>
		</array>
		<array>
			<string>06-视图.md</string>
		</array>
		<array>
			<string>07-触发器.md</string>
		</array>
		<array>
			<string>08-数据的操作.md</string>
		</array>
		<array>
			<string>09-01-单表查询(基础查询).md</string>
		</array>
		<array>
			<string>09-02-单表查询(分组与统计).md</string>
		</array>
		<array>
			<string>10-01-多表查询(连接查询).md</string>
		</array>
		<array>
			<string>10-02-多表查询(子查询).md</string>
		</array>
		<array>
			<string>11-使用MySQL运算符.md</string>
		</array>
		<array>
			<string>12-MySQL常用函数.md</string>
		</array>
		<array>
			<string>13-01-存储过程和函数的操作(上).md</string>
		</array>
		<array>
			<string>13-02-存储过程和函数的操作(下).md</string>
		</array>
		<array>
			<string>14-MySQL安全机制.md</string>
		</array>
		<array>
			<string>16-01-MySQL数据库维护和性能优化(上).md</string>
		</array>
		<array>
			<string>16-02-MySQL数据库维护和性能优化(下).md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
